name: "Deploy Auth Service"

on:
  push:
    branches:
      - "**"

jobs:
  deploy:
    permissions:
      id-token: write
      contents: read
      packages: write
    uses: unfettered-one/Infra/.github/workflows/main.yml@ca4a6659487a6b25991f22e4ba657e3cdc104aed
    with:
      role_arn: "arn:aws:iam::815817733987:role/terraform-deploy-role-dev"
      aws_region: "ap-south-1"
      working_directory: "infra"
      lambda_code_path: "auth_service"
      build_image: true
      lambda_handler: "app.handler"
    secrets: inherit
