name: "Deploy Auth Service"

on:
  push:
    branches:
      - "**"
      # - "main"

jobs:
  deploy:
    permissions:
      id-token: write
      contents: read
      packages: write
    uses: unfettered-one/Infra/.github/workflows/main.yml@07f2fe0241d58cc3dfb01663dacfec26b2ecf1b0
    with:
      role_arn: "arn:aws:iam::815817733987:role/terraform-deploy-role-dev"
      aws_region: "ap-south-1"
      working_directory: "infra"
      lambda_code_path: "auth_service"
      build_image: true
      lambda_handler: "auth_service.main.mangum_handler"
      branch_name: "feat/lambda-url" #TODO remove after testing
      service_name: "auth-service"
      stage: dev
      main_file: "auth_service/main.py"
    secrets: inherit
