name: "Deploy Auth Service"

on:
  push:
    branches:
      - "*"

jobs:
  deploy:
    permissions:
      id-token: write     # REQUIRED for OIDC
      contents: read
    uses: unfettered-one/Infra/.github/workflows/main.yml@4ab563d901624a2a4cffad02e9de0da86935f38e
    with:
      role_arn: "arn:aws:iam::815817733987:role/terraform-deploy-role-dev"
      aws_region: "ap-south-1"
      working_directory: "infra"
