name: "Deploy Auth Service"

on:
  push:
    branches:
      - "*"

jobs:
  deploy:
    uses: unfettered-one/Infra/.github/workflows/main.yml@b1bd20a8742cf25a10d5879540228db4afb93976
    with:
      role_arn: "arn:aws:iam::815817733987:role/terraform-deploy-role-dev"
      aws_region: "ap-south-1" 
