name: "Deploy Auth Service"

on:
  push:
    branches:
      - "**"
      # - "main"

jobs:
  deploy:
    permissions:
      id-token: write
      contents: read
      packages: write
    uses: unfettered-one/Infra/.github/workflows/main.yml@acd0159a997d98b6f7cc7f2f18d0804a36aa8361
    with:
      role_arn: "arn:aws:iam::815817733987:role/terraform-deploy-role-dev"
      aws_region: "ap-south-1"
      working_directory: "infra"
      lambda_code_path: "auth_service"
      build_image: true
      lambda_handler: "app.handler"
      branch_name: "fix/terraform-core" #TODO remove after testing
      service_name: "auth-service"
      stage: dev
    secrets: inherit
